@model AssetManagement.Domain.Entities.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedDriverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedDriverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransmissionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransmissionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteeringType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteeringType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horsepower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horsepower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co2Emission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co2Emission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GpsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GpsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedEndTermValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedEndTermValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastInspection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastInspection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextInspection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextInspection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.ContactInCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
